ul {
    list-style-type: none;
}

.tags {
   margin-left: 25px;
}

.bookmark {
    padding-top: 10px;
}

.date {
    font-style: italic;
    font-size: small;
}

.icon {
  max-width: 16px;
  max-height: 16px;
  padding-right: 5px;
}
